<ul>
  <% if current_user  %>
    <% if notice %>
      <li><%= notice %></li>
    <% end %>
    <li>ようこそ <%= current_user.name %>さん</li>
    <li><%= link_to "ログアウト", "/signout" %></li>
  <% else %>
    <li><%= link_to "Facebookでログイン", "/auth/facebook" %></li>
  <% end %>
</ul>