/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
	background-color: #DED2BF;

	nav.navbar{
		background-color: #6B655D;
		border-color: #6B655D;
		border-radius: 0px;
		.navbar-brand{
			color: #ffffff;
			text-shadow: 1px -1px 0 rgba(0,0,0,1);
			font-size: 28px;
		}
		.navbar-nav li a {
			color: #ffffff;
			text-shadow: 1px -1px 0 rgba(0,0,0,1);
		}
	}
	.panel.panel-default{
		.panel-heading h4{
			text-shadow: -1px 1px 0 rgba(255,255,255,1);
		}
	}
}
